<section class="minimal-look">
  <div class="minimal-look__container container">
    <div class="minimal-look__wrapper">
      <div class="minimal-look__client">
        <ul class="minimal-look__category">
          {% import "data/minimal-look.html" as items %}
          {% for item in items.block.category %}
            <li class="minimal-look__name heading-4">{{item.name}}</li>
          {% endfor %}
        </ul>
        <ul class="minimal-look__information">
          {% import "data/minimal-look.html" as items %}
          {% for item in items.block.information %}
            <li class="minimal-look__info paragraph">{{item.info}}</li>
          {% endfor %}
          <li class="minimal-look__info paragraph"><a href="#">Link example.com</a></li>
        </ul>
      </div>

      <div class="minimal-look__text">
        <h2 class="minimal-look__title heading-1">Minimal Look Bedrooms</h2>
        <p class="minimal-look__desc paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquamsem vitae turpis dignissim maximus. Aliquam sollicitudin tellumassa, vbel maximus purus posuere in. Dojrices gravida dignissim. Praesent at nibh in mi fringilla mattis. Phasellus ut dolor odio. Aenean in the ipsum vel lectus bibendum commodo.</p>
        <p class="minimal-look__description paragraph">In nec sem suscipit, convallis leo vitae, lacinia nibh. Cras amet tellus lectus. Vivamus ipsum nunc, mattis quis nibh id, pellentesque arcu. Donec a pellentesque Cras erat enim, gravida non ante vitae,elequis convallis elit, in viverra felis. Donec ultrices tellus vitae iaculisvd porta. Proin tincidunt ligula id purus porttitor.</p>
      </div>
    </div>
  </div>
</section>







