<section class="preview">
  <div class="preview__container container">
    <div class="preview__wrapper">
      <img class="preview__img" src="/img/minimal-bedroom/minimal-bedroom-slider/minimal-bedroom-slider-img.jpg" alt="">
      <button class="preview__button icon-button">
        <img src="/img/svgo/magnifying-glass-orange.svg" alt="magnifying-glass">
      </button>
    </div>
  </div>
</section>

<div class="slider-modal modal">
  <button class="modal__button">
    <img src="/img/svgo/cross.svg" alt="cross">
  </button>
  <div class="slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/minimal-bedroom/minimal-bedroom-slider/minimal-bedroom-slider-img.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/minimal-bedroom/minimal-bedroom-slider/minimal-bedroom-slider-img.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="/img/minimal-bedroom/minimal-bedroom-slider/minimal-bedroom-slider-img.jpg" alt="">
      </div>
    </div>
    
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>