.header
  padding: 330px 0
  position: relative
  background-repeat: no-repeat
  background-size: cover
  border-bottom-left-radius: 291px

  @media (max-width: $xs )
    border-radius: 0

  &__text
    width: 50%

    @media ( max-width: $md )
      width: 61%

    @media (max-width: $xs)
      width: 100%

  &__title
    margin-bottom: 9px

    @media ( max-width: $md )
      font-size: 68px

    @media (max-width: $sm )
      font-size: 50px

    @media (max-width: $xs )
      font-size: 40px

  &__desc
    margin-bottom: 21px

    @media (max-width: $xs )
      font-size: 17px

  img
    margin-left: 10px
