.header
  padding: 330px 0
  position: relative 
  background-repeat: no-repeat
  background-size: cover
  border-bottom-left-radius: 291px

  &__text
    width: 50%

  &__title
    font-size: 85px
    line-height: 125%
    margin-bottom: 9px
    color: $c-black

  &__desc
    font-size: 22px
    line-height: 150%
    margin-bottom: 21px
    color: $c-black

