.opinion
  padding: 88px 0
  background-color: $c-white
  border-radius: 70px

  &__title
    text-align: center
    margin-bottom: 38px

    @media (max-width: $sm)
      font-size: 39px

  &__wrapper
    display: flex

    @media (max-width: $sm)
      flex-wrap: wrap
