.not-found
  position: relative
  display: flex
  align-items: center
  height: calc(100vh - 142px)

  &__container
    display: flex

  &__img
    position: absolute
    top: 0
    right: 0
    width: 43%
    border-radius: 0px 0px 0px 353px

  &__text
    width: 50%

  &__title
    font-size: 250px
    color: $c-orange
    margin-bottom: 15px

  &__desc
    margin-bottom: 23px
