<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title heading-1">What the People Thinks <br>About Us</h2>
    <div class="reviews__wrapper">
      <div class="card">
        <div class="card__inner">
          <div class="card__front">
            <img class="card__img" src="/img/about-us/reviews/reviews-img-1.jpg" alt="man">
          </div>
          <div class="card__back">
            <h3 class="card__name heading-3">Charlotte	Levi</h3>
            <p class="card__country paragraph">Design, Australia</p>
            <div class="card__icons">
              <a class="card__icon" href="#"><img src="/img/svgo/facebook.svg" alt="facebook"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/twitter.svg" alt="twitter"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/linkedin.svg" alt="linkedin"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/instagram.svg" alt="instagram"></a>
            </div>
            <a href="tel:+1 (378) 400-1234" class="card__number paragraph">+1 (378) 400-1234</a>
            <a href="mailto:julie@email.com" class="card__email paragraph">julie@email.com</a>
          </div>
        </div>
      </div>
  
      <div class="card">
        <div class="card__inner">
          <div class="card__front">
            <img class="card__img" src="/img/about-us/reviews/reviews-img-2.jpg" alt="girl">
          </div>
          <div class="card__back">
            <h3 class="card__name heading-3">Nattasha Julie</h3>
            <p class="card__country paragraph">Design, Australia</p>
            <div class="card__icons">
              <a class="card__icon" href="#"><img src="/img/svgo/facebook.svg" alt="facebook"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/twitter.svg" alt="twitter"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/linkedin.svg" alt="linkedin"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/instagram.svg" alt="instagram"></a>
            </div>
            <a href="tel:+1 (378) 400-1234" class="card__number paragraph">+1 (378) 400-1234</a>
            <a href="mailto:julie@email.com" class="card__email paragraph">julie@email.com</a>
          </div>
        </div>
        
      </div>
  
      <div class="card">
        <div class="card__inner">
          <div class="card__front">
            <img class="card__img" src="/img/about-us/reviews/reviews-img-4.jpg" alt="man">
          </div>
          <div class="card__back">
            <h3 class="card__name heading-3">John Smith</h3>
            <p class="card__country paragraph">Design, Australia</p>
            <div class="card__icons">
              <a class="card__icon" href="#"><img src="/img/svgo/facebook.svg" alt="facebook"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/twitter.svg" alt="twitter"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/linkedin.svg" alt="linkedin"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/instagram.svg" alt="instagram"></a>
            </div>
            <a href="tel:+1 (378) 400-1234" class="card__number paragraph">+1 (378) 400-1234</a>
            <a href="mailto:julie@email.com" class="card__email paragraph">julie@email.com</a>
          </div>
        </div>
      </div>
  
      <div class="card">
        <div class="card__inner">
          <div class="card__front">
            <img class="card__img" src="/img/about-us/reviews/reviews-img-3.jpg" alt="girl">
          </div>
          <div class="card__back">
            <h3 class="card__name heading-3">Nora Owen</h3>
            <p class="card__country paragraph">Design, Australia</p>
            <div class="card__icons">
              <a class="card__icon" href="#"><img src="/img/svgo/facebook.svg" alt="facebook"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/twitter.svg" alt="twitter"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/linkedin.svg" alt="linkedin"></a>
              <a class="card__icon" href="#"><img src="/img/svgo/instagram.svg" alt="instagram"></a>
            </div>
            <a href="tel:+1 (378) 400-1234" class="card__number paragraph">+1 (378) 400-1234</a>
            <a href="mailto:julie@email.com" class="card__email paragraph">julie@email.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>