<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title heading-1">What the People Thinks <br>About Us</h2>
    <div class="reviews__wrapper">
      {% import "data/card.html" as items %}
      {% for item in items.block %}
        <div class="card">
          <div class="card__inner">
            <div class="card__front">
              <img class="card__img" src="{{item.src}}" alt="{{item.alt}}">
            </div>
            <div class="card__back">
              <h3 class="card__name heading-3">{{item.name}}</h3>
              <p class="card__country paragraph">Design, Australia</p>
              <div class="card__icons">
                {% for i in item.icons %}
                  <a class="card__icon" href="{{i.href}}"><img src="{{i.src}}" alt="{{i.alt}}"></a>
                {% endfor %}
              </div>
              <a href="tel:+1 (378) 400-1234" class="card__number paragraph">+1 (378) 400-1234</a>
              <a href="mailto:julie@email.com" class="card__email paragraph">julie@email.com</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>