.black-button
    display: flex
    color: $c-white
    font-weight: 600
    font-size: 18px
    line-height: 125%
    width: max-content
    padding: 26px 48px
    background-color: $c-black
    border-radius: 18px

    img
      margin-left: 10px