.black-button
  font-family: 'Jost'
  font-style: normal
  display: flex
  color: $c-fullWhite
  font-weight: 600
  font-size: 18px
  line-height: 125%
  width: max-content
  padding: 26px 48px
  background-color: $c-black
  border-radius: 18px
  letter-spacing: 0.02em
  transition: background-color .3s ease

  &:hover
    background-color: lighten($c-black, 10%)

  @media (max-width: $sm)
    padding: 20px 40px

  @media  (max-width: $xs)
    padding: 20px 30px

  img
    margin-left: 10px

.orange-button
  @extend .black-button
  background-color: $c-orange

  &:hover
    background-color: darken($c-orange, 10%)

.icon-button
  position: absolute
  display: flex
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: $c-fullWhite
  border-radius: 50%
  width: 132px
  height: 132px
  justify-content: center
  align-items: center
  transition: background-color .3s ease

  &:hover
    background-color: darken($c-fullWhite, 10%)

  @media  (max-width: $xs)
    width: 100px
    height: 100px
