+font('DM Serif Display', 'DMSerifDisplay-Italic', 400, italic)
+font('DM Serif Display', 'DMSerifDisplay-Regular', 400)
+font('Jost', 'Jost-Regular', 400)
+font('Jost', 'Jost-Medium', 500)
+font('Jost', 'Jost-SemiBold', 600)
+font('Jost', 'Jost-Bold', 700)

.display-1
  font-family: 'DM Serif Display'
  font-size: 85px
  line-height: 125%
  color: $c-black
  font-weight: 400

.heading-1
  font-family: 'DM Serif Display'
  font-size: 50px
  line-height: 125%
  color: $c-black
  font-weight: 400

.heading-2
  font-family: 'DM Serif Display'
  font-size: 35px
  line-height: 125%
  color: $c-black
  font-weight: 400

.heading-3
  font-family: 'DM Serif Display'
  font-size: 25px
  line-height: 125%
  color: $c-black
  font-weight: 400

.heading-4
  font-family: 'DM Serif Display'
  font-size: 22px
  line-height: 125%
  color: $c-black
  font-weight: 400

.paragraph
  font-family: 'Jost'
  font-style: normal
  font-weight: 400
  font-size: 22px
  line-height: 150%
  letter-spacing: 0.01em
  color: $c-grey

.link
  display: flex
  justify-content: center
  align-items: center
  font-family: 'Jost'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 125%
  letter-spacing: 0.02em
  color: $c-grey

  img
    margin-left: 12px
