.love-design
  padding: 150px 0 200px

  &__container
    display: flex
    align-items: center

  &__img
    border-radius: 70px

  &__text
    margin-left: 82px

  &__title
    margin-bottom: 11px

  &__desc
    margin-bottom: 32px
