.trends
  padding-top: 200px

  &__container
    display: flex
    justify-content: space-between

  &__title
    margin-right: 94px

  &__subtitle
    font-size: 25px
    color: $c-orange
    margin-bottom: 30px

  &__text
    width: 129%

  &__desc
    &:not(:last-of-type)
      margin-bottom: 28px
