<section class="professional-team">
  <div class="professional-team__container container">
    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/about-us/reviews/reviews-img-1.jpg" alt="">
        <h2 class="professional-team__title heading-3">Charlotte	Levi</h2>
        <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/about-us/reviews/reviews-img-2.jpg" alt="">
      <h2 class="professional-team__title heading-3">Nattasha Julie</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
        <img class="professional-team__icon" src="/img/svgo/linkedin.svg" alt="linkedin">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/about-us/reviews/reviews-img-4.jpg" alt="">
      <h2 class="professional-team__title heading-3">John Smith</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/about-us/reviews/reviews-img-3.jpg" alt="">
      <h2 class="professional-team__title heading-3">Nora Owen</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/our-professional/professional-team/professional-team-img-1.jpg" alt="">
      <h2 class="professional-team__title heading-3">Sofia	Carter</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/our-professional/professional-team/professional-team-img-2.jpg" alt="">
      <h2 class="professional-team__title heading-3">Avery	Jackson</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
        <img class="professional-team__icon" src="/img/svgo/linkedin.svg" alt="linkedin">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/our-professional/professional-team/professional-team-img-3.jpg" alt="">
      <h2 class="professional-team__title heading-3">Luna	James</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>

    <div class="professional-team__card">
      <img class="professional-team__img" src="/img/our-professional/professional-team/professional-team-img-4.jpg" alt="">
      <h2 class="professional-team__title heading-3">	Gianna	Mateo</h2>
      <p class="professional-team__desc paragraph">Design, Australia</p>
      <div class="professional-team__icons">
        <img class="professional-team__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="professional-team__icon" src="/img/svgo/twitter.svg" alt="twitter">
      </div>
    </div>
  </div>
</section>





