<section class="professional-team">
  <div class="professional-team__container container">
    {% import "data/team.html" as items %}
    {% for item in items.block %}
      <div class="professional-team__card">
        <img class="professional-team__img" src="{{item.src}}" alt="">
          <h2 class="professional-team__title heading-3">{{item.title}}</h2>
          <p class="professional-team__desc paragraph">Design, Australia</p>
        <div class="professional-team__icons">
          {% for i in item.icons %}
            <img class="professional-team__icon" src="{{i.src}}" alt="{{i.alt}}">
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
 




