<section class="articles">
<div class="articles__container container">
  <h2 class="articles__title heading-1">Articles & News</h2>
  <p class="articles__desc paragraph">It is a long established fact that a reader will be distracted by the of readable content<br> of a page when lookings at its layouts the points of using.</p>
  <div class="articles__wrapper">
    {% import "data/design.html" as items %}
    {% for item in items.block %}
      <div class="design">
        <div class="design__wrapper">
          <img class="design__img" src="{{item.src}}" alt="design">
          <p class="design__subtitle paragraph">{{item.subtitle}}</p>
        </div>
        <h3 class="design__title heading-3">{{item.title}}</h3>
        <div class="design__desc">
          <p class="design__date paragraph">{{item.date}}</p>
          <a class="design__icon" href="#"><img src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>