<section class="call-us">
  <div class="call-us__container container">
    <div class="call-us__wrapper">
      <h2 class="call-us__title heading-1">We Create The Art Of Stylish Living Stylishly</h2>
      <p class="call-us__desc paragraph">It is a long established fact that a reader will be distracted by the of readable content of a page when lookings at its layouts the points of using that it has a more-or-less normal.</p>
      <div class="call-us__phone">
        <img class="call-us__icon" src="img/svgo/call.svg" alt="call">
        <div class="call-us__text">
          <p class="call-us__number">012345678</p>
          <p class="call-us__anytime paragraph">Call Us Anytime</p>
        </div>
      </div>
      <a href="#" class="call-us__button black-button">Get Free Estimate <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
     <img class="call-us__img" src="img/call-us-img-1.jpg" alt="">
  </div>
</section> 