<section class="counter">
  <div class="counter__container container">
    <div class="counter__text">
      <h2 class="counter__number">12</h2>
      <p class="counter__success">Years Of Experiance</p>
    </div>
    <div class="counter__text">
      <h2 class="counter__number">85</h2>
      <p class="counter__success">Success Project</p>
    </div>
    <div class="counter__text">
      <h2 class="counter__number">15</h2>
      <p class="counter__success">Active Project</p>
    </div>
    <div class="counter__text">
      <h2 class="counter__number">95</h2>
      <p class="counter__success">Happy CUstomers</p>
    </div>
  </div>
</section>