<header class="header" style="background-image: url('../img/header/header-img-1.jpg');">
  <div class="header__container container">
    <div class="header__text">
      <h1 class="header__title display-1">Let Your Home Be Unique</h1>
      <p class="header__desc paragraph">There are many variations of the passages of lorem Ipsum fromavailable,variations of the passages.</p>
      <a href="#" class="header__button black-button" >Get Started<img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
  </div>
</header>  
