<section class="opinion">
  <div class="opinion__container container">
    <h2 class="opinion__title">What the People Thinks <br>About Us</h2>
    <div class="opinion__wrapper">
      <div class="questionnaire">
        <div class="questionnaire__hero">
          <img class="questionnaire__img" src="img/opinion/opinion-img-1.jpg" alt="girl">
          <div class="questionnaire__data">
            <h3 class="questionnaire__name">Nattasha Mith</h3>
            <p class="questionnaire__country">Sydney, USA</p>
          </div>
        </div>
        <p class="questionnaire__desc">Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.</p>
      </div>
  
      <div class="questionnaire">
        <div class="questionnaire__hero">
          <img class="questionnaire__img" src="img/opinion/opinion-img-2.jpg" alt="girl">
          <div class="questionnaire__data">
            <h3 class="questionnaire__name">Raymond Galario</h3>
            <p class="questionnaire__country">Sydney, Australia</p>
          </div>
        </div>
        <p class="questionnaire__desc">Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled it to make a type book.</p>
      </div>
  
      <div class="questionnaire">
        <div class="questionnaire__hero">
          <img class="questionnaire__img" src="img/opinion/opinion-img-3.jpg" alt="man">
          <div class="questionnaire__data">
            <h3 class="questionnaire__name">Benny Roll</h3>
            <p class="questionnaire__country">Sydney, New York</p>
          </div>
        </div>
        <p class="questionnaire__desc">Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled.</p>
      </div>
    </div>
  </div>
</section>