<section class="opinion">
  <div class="opinion__container container">
    <h2 class="opinion__title heading-1">What the People Thinks <br>About Us</h2>
    <div class="opinion__wrapper">
      {% import "data/questionnaire.html" as items %}
      {% for item in items.block %}
        <div class="questionnaire">
          <div class="questionnaire__hero">
            <img class="questionnaire__img" src="{{item.src}}" alt="{{item.alt}}">
            <div class="questionnaire__data">
              <h3 class="questionnaire__name heading-4">{{item.name}}</h3>
              <p class="questionnaire__country paragraph">{{item.country}}</p>
            </div>
          </div>
          <p class="questionnaire__desc paragraph">{{item.desc}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>