<section class="projects">
  <div class="projects__container container">
    <h2 class="projects__title title">Follow Our Projects</h2>
    <p class="projects__desc">It is a long established fact that a reader will be distracted by the of readable<br> content of page  lookings at its layouts  points.</p>
    <div class="projects__wrapper">
      <div class="kitchen">
        <img class="kitchen__img-one" src="/img/follow/follow-img-1.jpg" alt="kitchen">
        <div class="kitchen__modern">
          <div class="kitchen__text">
            <h3 class="kitchen__title">Modern Kitchan</h3>
            <p class="kitchen__desc">Decor / Artchitecture</p>
          </div>
          <a class="kitchen__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="kitchen">
        <img class="kitchen__img-two" src="/img/follow/follow-img-2.jpg" alt="kitchen">
        <div class="kitchen__modern">
          <div class="kitchen__text">
            <h3 class="kitchen__title">Modern Kitchan</h3>
            <p class="kitchen__desc">Decor / Artchitecture</p>
          </div>
          <a class="kitchen__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="kitchen">
        <img class="kitchen__img-three" src="/img/follow/follow-img-3.jpg" alt="kitchen">
        <div class="kitchen__modern">
          <div class="kitchen__text">
            <h3 class="kitchen__title">Modern Kitchan</h3>
            <p class="kitchen__desc">Decor / Artchitecture</p>
          </div>
          <a class="kitchen__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="kitchen">
        <img class="kitchen__img-four" src="/img/follow/follow-img-4.jpg" alt="kitchen">
        <div class="kitchen__modern">
          <div class="kitchen__text">
            <h3 class="kitchen__title">Modern Kitchan</h3>
            <p class="kitchen__desc">Decor / Artchitecture</p>
          </div>
          <a class="kitchen__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
    </div>
  </div>
</section>