<section class="projects">
  <div class="projects__container container">
    <h2 class="projects__title heading-1">Follow Our Projects</h2>
    <p class="projects__desc paragraph">It is a long established fact that a reader will be distracted by the of readable<br> content of page  lookings at its layouts  points.</p>
    <div class="projects__wrapper">
      <div class="room">
        <img class="room__img-one" src="/img/follow/follow-img-1.jpg" alt="kitchen">
        <div class="room__modern">
          <div class="room__text">
            <h3 class="room__title heading-3">Modern Kitchan</h3>
            <p class="room__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="room">
        <img class="room__img-two" src="/img/follow/follow-img-2.jpg" alt="kitchen">
        <div class="room__modern">
          <div class="room__text">
            <h3 class="room__title heading-3">Modern Kitchan</h3>
            <p class="room__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="room">
        <img class="room__img-three" src="/img/follow/follow-img-3.jpg" alt="kitchen">
        <div class="room__modern">
          <div class="room__text">
            <h3 class="room__title heading-3">Modern Kitchan</h3>
            <p class="room__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
      <div class="room">
        <img class="room__img-four" src="/img/follow/follow-img-4.jpg" alt="kitchen">
        <div class="room__modern">
          <div class="room__text">
            <h3 class="room__title heading-3">Modern Kitchan</h3>
            <p class="room__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>
    </div>
  </div>
</section>