<div class="realization">
  <div class="realization__container container">
    <div class="realization__wrapper">
      <h2 class="realization__title">Project Plan</h2>
      <p class="realization__desc">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__button">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
    <div class="realization__wrapper">
      <h2 class="realization__title">Interior Work</h2>
      <p class="realization__desc">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__button">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
    <div class="realization__wrapper">
      <h2 class="realization__title">Realization</h2>
      <p class="realization__desc">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__button">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
  </div>
</div>