<section class="realization">
  <div class="realization__container container">
    <div class="realization__plan">
      <h2 class="realization__title heading-3">Project Plan</h2>
      <p class="realization__desc paragraph">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__link link">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
    <div class="realization__plan">
      <h2 class="realization__title heading-3">Interior Work</h2>
      <p class="realization__desc paragraph">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__link link">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
    <div class="realization__plan">
      <h2 class="realization__title heading-3">Realization</h2>
      <p class="realization__desc paragraph">There are many variations of the passages of lorem Ipsum from available, majority.</p>
      <a href="" class="realization__link link">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>
  </div>
</section>