.form
  text-align: center

  &__button
    margin: 0 auto

  &__text
    margin-bottom: 57px

  &__input
    border-bottom: 1px solid #000000
    width: 32%

    &:not(:last-of-type)
      margin-right: 35px

  &__textarea
    resize: none
    border-top: 0
    border-right: 0
    border-left: 0
    border-bottom: 1px solid #000000
    width: 68%
    height: 175px
    margin-bottom: 77px
