.nav
  padding: 43px 0 45px
  z-index: 3
  background-color: #fff
  width: 100%
  position: fixed

  @media (max-width: $md)
    display: none

  &__container
    display: flex
    justify-content: space-between

  &__menu
    display: flex
    align-items: center

  &__link
    font-size: 20px
    line-height: 125%
    text-align: center
    color: $c-black

    &:not(:last-of-type)
      margin-right: 25px
