.questionnaire
  padding: 53px 34px 85px
  background-color: $c-fullWhite
  border-radius: 70px
  width: calc( 100% / 3 - 40px / 3 )

  &:not(:last-of-type)
    margin-right: 20px

  @media (max-width: $sm)
    width: 70%
    padding: 40px 20px 45px

    &:not(:last-of-type)
      margin-bottom: 20px
      margin-right: 0

  &__hero
    display: flex
    align-items: center
    margin-bottom: 25px

    @media (max-width: $md)
      flex-wrap: wrap
      justify-content: center

  &__img
    margin-right: 23px
    border-radius: 50%

    @media (max-width: $md)
      width: 50%
      margin: 0 0 23px

    @media (max-width: $sm)
      width: auto
      margin-bottom: 0
      margin-right: 23px

  &__name
    @media (max-width: $md)
      font-size: 21px

  &__country

    @media (max-width: $md)
      font-size: 21px

  &__desc

    @media (max-width: $sm)
      font-size: 19px
      text-align: center
