.realization
  padding: 200px 0 

  @media  (max-width: $xs)
      padding: 100px 0
  
  &__container
    display: flex

    @media  (max-width: $xs)
      flex-wrap: wrap

  &__wrapper
    width: calc(100% / 3 - 84px / 3)

    &:not(:last-of-type)
        margin-right:  42px
    
    @media  (max-width: $xs)
      width: 100%

      &:not(:last-of-type)
        margin-bottom: 25px
        margin-right:  0


  &__title
    color: $c-black
    font-size: 25px
    line-height: 125%
    text-align: center
    margin-bottom: 20px

  &__desc
    font-size: 22px
    line-height: 150%
    color: $c-grey
    text-align: center
    margin-bottom: 52px

    @media  (max-width: $xs)
      margin-bottom: 25px

  &__button
    display: flex
    justify-content: center
    align-items: center
    font-weight: 600
    font-size: 18px
    line-height: 125%
    color: $c-grey

    img
      padding-left: 12px
    