.professional-team
  padding-top: 200px

  &__container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 22px

  &__card
    text-align: center

  &__desc
    margin-bottom: 16px

  &__img
    border-radius: 30px
    margin-bottom: 17px

  &__icon

    &:not(:last-of-type)
      margin-right: 37px
