<section class="acquaintance">
  <div class="acquaintance__container container">
    <h2 class="acquaintance__title heading-1">We love meeting new people <br>and helping them.</h2>
    <div class="acquaintance__wrapper">
      <div class="acquaintance__info">
        <div class="acquaintance__networks">
          <img class="acquaintance__network" src="/img/svgo/envelope.svg" alt="envelope">
          <a class="acquaintance__link paragraph" href="mailto:info@yourdomain.com">info@yourdomain.com</a>
        </div>
        <div class="acquaintance__networks">
          <img class="acquaintance__network" src="/img/svgo/phone.svg" alt="phone">
          <a class="acquaintance__link paragraph" href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a>
        </div>
        <div class="acquaintance__networks">
          <img class="acquaintance__network" src="/img/svgo/global.svg" alt="global">
          <a class="acquaintance__link paragraph" href="#">www.yourdomain.com</a>
        </div>

        <div class="acquaintance__icons">
          <img src="/img/svgo/facebook.svg" alt="facebook" class="acquaintance__icon">
          <img src="/img/svgo/twitter.svg" alt="twitter" class="acquaintance__icon">
          <img src="/img/svgo/linkedin.svg" alt="linkedin" class="acquaintance__icon">
          <img src="/img/svgo/instagram.svg" alt="instagram" class="acquaintance__icon">
        </div>
      </div>
      
      <div class="acquaintance__form">
        <div class="acquaintance__registration">
          <input type="text" placeholder="Name" class="acquaintance__input paragraph">
          <input type="text" placeholder="Email" class="acquaintance__input paragraph">
          <input type="text" placeholder="Subject" class="acquaintance__input paragraph">
          <input type="text" placeholder="Phone" class="acquaintance__input paragraph">
        </div>
        <textarea class="acquaintance__textarea paragraph" name="" id=""  rows="3" placeholder="Hello Iam Intrested in.."></textarea>
        <a href="#" class="acquaintance__button black-button" >Send Now<img src="img/svgo/arrow.svg" alt="arrow"></a>
      </div>
    </div>
  </div>
</section>