<section class="acquaintance">
  <div class="acquaintance__container container">
    <h2 class="acquaintance__title heading-1">We love meeting new people <br>and helping them.</h2>
    <div class="acquaintance__wrapper">
      <div class="acquaintance__info">
        {% import "data/hero.html" as items %}
        {% for item in items.blocks.hero_block %}
          <div class="acquaintance__networks">
            <img class="acquaintance__network" src="{{item.src}}" alt="{{item.alt}}">
            <a class="acquaintance__link paragraph" href="{{item.href}}">{{item.link}}</a>
          </div>
        {% endfor %}
        <div class="acquaintance__icons">
          {% import "data/hero.html" as items %}
          {% for item in items.blocks.hero_icon %}
            <img src="{{item.src}}" alt="{{item.alt}}" class="acquaintance__icon">
          {% endfor %}
        </div>
      </div>
      
      <div class="acquaintance__form">
        <div class="acquaintance__registration">
          {% import "data/acquaintance.html" as items %}
          {% for item in items.blocks %}
            <input type="text" placeholder="{{item.placeholder}}" class="acquaintance__input paragraph">
          {% endfor %}
        </div>
        <textarea class="acquaintance__textarea paragraph" name="" id=""  rows="3" placeholder="Hello Iam Intrested in.."></textarea>
        <a href="#" class="acquaintance__button black-button" >Send Now<img src="img/svgo/arrow.svg" alt="arrow"></a>
      </div>
    </div>
  </div>
</section>