{% set block = [
   {
    src: '/img/about-us/reviews/reviews-img-1.jpg',
    alt: 'man',
    name: 'Charlotte	Levi',
    icons: [
      {
        src: '/img/svgo/facebook.svg',
        alt: 'facebook',
        href: '#'
      },
      {
        src: '/img/svgo/twitter.svg',
        alt: 'twitter',
        href: '#'
      },
      {
        src: '/img/svgo/linkedin.svg',
        alt: 'linkedin',
        href: '#'
      },
      {
        src: '/img/svgo/instagram.svg',
        alt: 'instagram',
        href: '#'
      }
    ]
   },
   {
    src: '/img/about-us/reviews/reviews-img-2.jpg',
    alt: 'girl',
    name: 'Nattasha Julie',
    icons: [
      {
        src: '/img/svgo/facebook.svg',
        alt: 'facebook',
        href: '#'
      },
      {
        src: '/img/svgo/twitter.svg',
        alt: 'twitter',
        href: '#'
      },
      {
        src: '/img/svgo/linkedin.svg',
        alt: 'linkedin',
        href: '#'
      },
      {
        src: '/img/svgo/instagram.svg',
        alt: 'instagram',
        href: '#'
      }
    ]
   },
   {
    src: '/img/about-us/reviews/reviews-img-4.jpg',
    alt: 'man',
    name: 'John Smith',
    icons: [
      {
        src: '/img/svgo/facebook.svg',
        alt: 'facebook',
        href: '#'
      },
      {
        src: '/img/svgo/twitter.svg',
        alt: 'twitter',
        href: '#'
      },
      {
        src: '/img/svgo/linkedin.svg',
        alt: 'linkedin',
        href: '#'
      },
      {
        src: '/img/svgo/instagram.svg',
        alt: 'instagram',
        href: '#'
      }
    ]
   },
   {
    src: '/img/about-us/reviews/reviews-img-3.jpg',
    alt: 'girl',
    name: 'Nora Owen',
    icons: [
      {
        src: '/img/svgo/facebook.svg',
        alt: 'facebook',
        href: '#'
      },
      {
        src: '/img/svgo/twitter.svg',
        alt: 'twitter',
        href: '#'
      },
      {
        src: '/img/svgo/linkedin.svg',
        alt: 'linkedin',
        href: '#'
      },
      {
        src: '/img/svgo/instagram.svg',
        alt: 'instagram',
        href: '#'
      }
    ]
   }
  ]
%}