{% set block = [
    {
      src: '/img/services/we-work/we-work-img-1.jpg',
      alt: 'people',
      icon: '/img/svgo/we-work-icon-img-1.svg',
      number: '01',
      title: 'Concept & Details'
    },
    {
      class: 'right',
      src: '/img/services/we-work/we-work-img-2.jpg',
      alt: 'people',
      icon: '/img/svgo/we-work-icon-img-2.svg',
      number: '02',
      title: 'Idea for Work'
    },
    {
      src: '/img/services/we-work/we-work-img-3.jpg',
      alt: 'kitchen',
      icon: '/img/svgo/we-work-icon-img-3.svg',
      number: '03',
      title: 'Design'
    },
    {
      class: 'right',
      src: '/img/services/we-work/we-work-img-4.jpg',
      alt: 'kitchen',
      icon: '/img/svgo/we-work-icon-img-4.svg',
      number: '04',
      title: 'Perfection'
    }
  ]
%}