{% set block = [
    {
      src: '/img/articles/articles-img-1.jpg',
      subtitle: 'Kitchan Design',
      title: 'Let’s Get Solution For Building Construction Work',
      date: '26 December,2022'
    },
    {
      src: '/img/articles/articles-img-2.jpg',
      subtitle: 'Living Design',
      title: 'Low Cost Latest Invented Interior Designing Ideas.',
      date: '22 December,2022'
    },
    {
      src: '/img/articles/articles-img-3.jpg',
      subtitle: 'Interior Design',
      title: 'Best For Any Office & Business Interior Solution',
      date: '25 December,2022'
    }
  ]
%}