{% set menu = {
    footer_icons: [
      {
        href : '#',
        src : '/img/svgo/facebook.svg',
        alt : 'facebook'
      },
      {
        href : '#',
        src : '/img/svgo/twitter.svg',
        alt : 'twitter'
      },
      {
        href : '#',
        src : '/img/svgo/linkedin.svg',
        alt : 'linkedin'
      },
      {
        href : '#',
        src : '/img/svgo/instagram.svg',
        alt : 'instagram'
      }
    ],
    footer_links: [
      {
        href: '/about-us.html',
        name: 'About Us'
      },
      {
        href: '#',
        name: 'Our Projects'
      },
      {
        href: '#',
        name: 'Our Team'
      },
      {
        href: '#',
        name: 'Contact Us'
      },
      {
        href: '/single.html',
        name: 'Services'
      }
    ],
    footer_link: [
      {
        href: '#',
        name: 'Kitchan'
      },
      {
        href: '#',
        name: 'Living Area'
      },
      {
        href: '#',
        name: 'Bathroom'
      },
      {
        href: '#',
        name: 'Dinning Hall'
      },
      {
        href: '#',
        name: 'Bedroom'
      }
    ]
  }
%}
  