{% set block = [
    {
      data: 'livingroom',
      src: '/img/our-project/project-style/project-style-img-1.jpg',
      alt: 'img-1',
      title: 'Minimal Bedroom'
    },
    {
      data: 'livingroom',
      src: '/img/our-project/project-style/project-style-img-3.jpg',
      alt: 'img-3',
      title: 'Classic Minimal Bedroom'
    },
    {
      data: 'livingroom',
      src: '/img/our-project/project-style/project-style-img-5.jpg',
      alt: 'img-5',
      title: 'Minimal Bedroom table'
    },
    {
      data: 'bedroom',
      src: '/img/our-project/project-style/project-style-img-7.jpg',
      alt: 'img-7',
      title: 'Modern Medroom'
    },
    {
      data: 'bedroom',
      src: '/img/our-project/project-style/project-style-img-2.jpg',
      alt: 'img-2',
      title: 'Minimal Bedroom'
    },
    {
      data: 'bedroom',
      src: '/img/our-project/project-style/project-style-img-4.jpg',
      alt: 'img-4',
      title: 'Modern Bedroom'
    },
    {
      data: 'kitchen',
      src: '/img/our-project/project-style/project-style-img-6.jpg',
      alt: 'img-6',
      title: 'System Table'
    },
    {
      data: 'bathroom',
      src: '/img/our-project/project-style/project-style-img-8.jpg',
      alt: 'img-8',
      title: 'Modern Bedroom'
    }
  ]
%}