{% set blocks ={
  hero_block: [
    {
      src: '/img/svgo/envelope.svg',
      alt: 'envelope',
      href: 'mailto:info@yourdomain.com',
      link: 'info@yourdomain.com'
    },
    {
      src: '/img/svgo/phone.svg',
      alt: 'phone',
      href: 'tel:+1 (378) 400-1234',
      link: '+1 (378) 400-1234'
    },
    {
      src: '/img/svgo/global.svg',
      alt: 'global',
      href: '#',
      link: 'www.yourdomain.com'
    }
  ],
  hero_icon: [
    {
      src: '/img/svgo/facebook.svg',
      alt: 'facebook'
    },
    {
      src: '/img/svgo/twitter.svg',
      alt: 'twitter'
    },
    {
      src: '/img/svgo/linkedin.svg',
      alt: 'linkedin'
    },
    {
      src: '/img/svgo/instagram.svg',
      alt: 'instagram'
    }
  ]
}
%}