{% set block = [
    {
      src: 'img/opinion/opinion-img-1.jpg',
      alt: 'girl',
      name: 'Nattasha Mith',
      country: 'Sydney, USA',
      desc: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.'
    },
    {
      src: 'img/opinion/opinion-img-2.jpg',
      alt: 'girl',
      name: 'Raymond Galario',
      country: 'Sydney, Australia',
      desc: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled it to make a type book.'
    },
    {
      src: 'img/opinion/opinion-img-3.jpg',
      alt: 'man',
      name: 'Benny Roll',
      country: 'Sydney, New York',
      desc: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled.'
    }
  ]
%}