{% set block = [
    {
      src: '/img/about-us/reviews/reviews-img-1.jpg',
      title: 'Charlotte	Levi',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    },
    {
      src: '/img/about-us/reviews/reviews-img-2.jpg',
      title: 'Nattasha Julie',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        },
        {
          src: '/img/svgo/linkedin.svg',
          alt: 'linkedin'
        }
      ]
    },
    {
      src: '/img/about-us/reviews/reviews-img-4.jpg',
      title: 'John Smith',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    },
    {
      src: '/img/about-us/reviews/reviews-img-3.jpg',
      title: 'Nora Owen',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    },
    {
      src: '/img/our-professional/professional-team/professional-team-img-1.jpg',
      title: 'Sofia	Carter',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    },
    {
      src: '/img/our-professional/professional-team/professional-team-img-2.jpg',
      title: 'Avery	Jackson',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        },
        {
          src: '/img/svgo/linkedin.svg',
          alt: 'linkedin'
        }
      ]
    },
    {
      src: '/img/our-professional/professional-team/professional-team-img-3.jpg',
      title: 'Luna	James',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    },
    {
      src: '/img/our-professional/professional-team/professional-team-img-4.jpg',
      title: 'Gianna	Mateo',
      icons: [
        {
          src: '/img/svgo/facebook.svg',
          alt: 'facebook'
        },
        {
          src: '/img/svgo/twitter.svg',
          alt: 'twitter'
        }
      ]
    }
  ]
%}