<section class="project-style">
  <div class="project-style__container container"> 
    <ul class="project-style__buttons filtr-controls">
      <li class="project-style__button filtr-control active" data-filter="all"><button>All</button></li>
      <li class="project-style__button filtr-control" data-filter="bathroom"><button>Bathroom</button></li>
      <li class="project-style__button filtr-control" data-filter="bedroom"><button>Bed Room</button></li>
      <li class="project-style__button filtr-control" data-filter="kitchen"><button>Kitchen</button></li>
      <li class="project-style__button filtr-control" data-filter="livingroom"><button>Living Area</button></li>
    </ul>
    
    <div class="gallery">
      {% import "data/gallery.html" as items %}
      {% for item in items.block %}
        <div class="gallery__card filtr-item" data-category="{{item.data}}">
          <img src="{{item.src}}" alt="{{item.alt}}" class="gallery__img"/>
          <div class="gallery__modern">
            <div class="gallery__text">
              <h2 class="gallery__title heading-3">{{item.title}}</h2>
              <p class="gallery__desc paragraph">Decor / Artchitecture</p>
            </div>
            <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>