<section class="project-style">
  <div class="project-style__container container"> 
    <ul class="project-style__buttons filtr-controls">
      <li class="project-style__button filtr-control active" data-filter="all"><button>All</button></li>
      <li class="project-style__button filtr-control" data-filter="bathroom"><button>Bathroom</button></li>
      <li class="project-style__button filtr-control" data-filter="bedroom"><button>Bed Room</button></li>
      <li class="project-style__button filtr-control" data-filter="kitchen"><button>Kitchen</button></li>
      <li class="project-style__button filtr-control" data-filter="livingroom"><button>Living Area</button></li>
    </ul>
    
    <div class="gallery">
      <div class="gallery__card filtr-item" data-category="livingroom">
        <img src="/img/our-project/project-style/project-style-img-1.jpg" alt="img-1" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Minimal Bedroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="livingroom">
        <img src="/img/our-project/project-style/project-style-img-3.jpg" alt="img-3" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Classic Minimal Bedroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="livingroom">
        <img src="/img/our-project/project-style/project-style-img-5.jpg" alt="img-5" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Minimal Bedroom table</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="bedroom">
        <img src="/img/our-project/project-style/project-style-img-7.jpg" alt="img-7" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Modern Medroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>
      
      <div class="gallery__card filtr-item" data-category="bedroom">
        <img src="/img/our-project/project-style/project-style-img-2.jpg" alt="img-2" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Minimal Bedroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="bedroom">
        <img src="/img/our-project/project-style/project-style-img-4.jpg" alt="img-4" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Modern Bedroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="kitchen">
        <img src="/img/our-project/project-style/project-style-img-6.jpg" alt="img-6" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">System Table</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>

      <div class="gallery__card filtr-item" data-category="bathroom">
        <img src="/img/our-project/project-style/project-style-img-8.jpg" alt="img-8" class="gallery__img"/>
        <div class="gallery__modern">
          <div class="gallery__text">
            <h2 class="gallery__title heading-3">Modern Bedroom</h2>
            <p class="gallery__desc paragraph">Decor / Artchitecture</p>
          </div>
          <a class="room__icon" href="#"><img  src="/img/svgo/referral.svg" alt="referral"></a>  
        </div>
      </div>
    </div>
  </div>
</section>