<section class="biography">
  <div class="biography__container container">
    <h2 class="biography__title heading-1">Short Biography</h2>
    <p class="biography__subtitle paragraph">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, njecthumour randomised words which don't look even slightly believable.</p>
    <p class="biography__desc paragraph">Embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined but the majority have suffered alteration in some form chunks as necessary.</p>

    <div class="biography__wrapper">
      <div class="functionality">
        <h3 class="functionality__title heading-3">Simplicity and Functionality</h3>
        <p class="functionality__subtitle paragraph">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in belief.</p>
        <p class="functionality__desc paragraph">There are many variations of passages of Lorem Ipsum from available, but the majority have suffered alteration in some form, njecthumour</p>

        <div class="range-slider" style="--percent: 65%">
          <p class="range-slider__title paragraph">Project Design</p>
          <p class="range-slider__number">65&#37;</p>
          <input class="range-slider__input" type="range" disabled value="65">
          <span></span>
        </div>
        <div class="range-slider" style="--percent: 95%">
          <p class="range-slider__title paragraph">Team Management</p>
          <p class="range-slider__number">95&#37;</p>
          <input class="range-slider__input" type="range" disabled value="95">
          <span></span>
        </div>
        <div class="range-slider" style="--percent: 75%">
          <p class="range-slider__title paragraph">Client Satisfaction</p>
          <p class="range-slider__number">75&#37;</p>
          <input class="range-slider__input" type="range" disabled value="75">
          <span></span>
        </div>
      </div>

      <div class="accordion">
        <h3 class="accordion__title heading-3">Qustion And Answer</h3>
        <p class="accordion__desc paragraph">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.</p>
        <div class="accordion__container accordion-container">
          <div class="accordion__block ac">
            <h2 class="accordion__header ac-header">
              <button type="button" class="accordion__trigger ac-trigger ">Website & Mobile App Design?</button>
            </h2>
            <div class="accordion__panel ac-panel">
              <p class="accordion__text ac-text">Lorem ipsum dolor sit amet, adipiscing fromAliquam eu sem turpmaximus.</p>
            </div>
          </div>
        
          <div class="accordion__block ac">
            <h2 class="accordion__header ac-header">
              <button type="button" class="accordion__trigger ac-trigger">How to Easy Successful Projects?</button>
            </h2>
            <div class="accordion__panel ac-panel">
              <p class="accordion__text ac-text">Lorem ipsum dolor sit amet, adipiscing fromAliquam eu sem turpmaximus.</p>
            </div>
          </div>
        
          <div class="accordion__block ac">
            <h2 class="accordion__header ac-header">
              <button type="button" class="accordion__trigger ac-trigger">International Trade Experience?</button>
            </h2>
            <div class="accordion__panel ac-panel">
              <p class="accordion__text ac-text ">Lorem ipsum dolor sit amet, adipiscing fromAliquam eu sem turpmaximus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








