<section class="hero">
  <div class="hero__container container">
    <img class="hero__img" src="/img/professional-single/professional-single-hero/professional-single-hero-img.jpg" alt="hero">
    <div class="hero__info">
      <h2 class="hero__title heading-1">John Smith</h2>
      <p class="hero__subtitle paragraph">Designer</p>
      <p class="hero__desc paragraph">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrpobelie frandomised words which don't look even slightly believable.</p>
        
      <div class="hero__networks">
        <img class="hero__network" src="/img/svgo/envelope.svg" alt="envelope">
        <a class="hero__link paragraph" href="mailto:info@yourdomain.com">info@yourdomain.com</a>
      </div>
      <div class="hero__networks">
        <img class="hero__network" src="/img/svgo/phone.svg" alt="phone">
        <a class="hero__link paragraph" href="tel:+1 (378) 400-1234">+1 (378) 400-1234</a>
      </div>
      <div class="hero__networks">
        <img class="hero__network" src="/img/svgo/global.svg" alt="global">
        <a class="hero__link paragraph" href="#">www.yourdomain.com</a>
      </div>

      <div class="hero__icons">
        <img class="hero__icon" src="/img/svgo/facebook.svg" alt="facebook">
        <img class="hero__icon" src="/img/svgo/twitter.svg" alt="twitter">
        <img class="hero__icon" src="/img/svgo/linkedin.svg" alt="linkedin">
        <img class="hero__icon" src="/img/svgo/instagram.svg" alt="instagram">
      </div>
    </div>
  </div>
</section>