<section class="hero">
  <div class="hero__container container">
    <img class="hero__img" src="/img/professional-single/professional-single-hero/professional-single-hero-img.jpg" alt="hero">
    <div class="hero__info">
      <h2 class="hero__title heading-1">John Smith</h2>
      <p class="hero__subtitle paragraph">Designer</p>
      <p class="hero__desc paragraph">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrpobelie frandomised words which don't look even slightly believable.</p>
      {% import "data/hero.html" as items %}
      {% for item in items.blocks.hero_block %}
        <div class="hero__networks">
          <img class="hero__network" src="{{item.src}}" alt="{{item.alt}}">
          <a class="hero__link paragraph" href="{{item.href}}">{{item.link}}</a>
        </div>
      {% endfor %}

      <div class="hero__icons">
      {% import "data/hero.html" as items %}
      {% for item in items.blocks.hero_icon %}
        <img class="hero__icon" src="{{item.src}}" alt="{{item.alt}}">
      {% endfor %}
      </div>
    </div>
  </div>
</section>