<section class="talk">
  <div class="talk__container container">
    <h2 class="talk__title heading-1">Contact Me</h2>
    <form class="form">
      <div class="form__text">
        <input type="text" placeholder="Name" class="form__input paragraph"/> 
        <input type="text" placeholder="Email" class="form__input paragraph"/> 
      </div>
      <textarea class="form__textarea paragraph" rows="3" name="" id=""  placeholder="Hello Iam Intrested in.."></textarea>
      <button class="form__button black-button">Send Now<img src="img/svgo/arrow.svg" alt="arrow"></button>
    </form>
  </div>    
</section>