<section class="pricing-plan">
  <div class="pricing-plan__container container">
    <div class="pricing-plan__card">
      <h2 class="pricing-plan__title heading-3">Design advices</h2>
      <div class="pricing-plan__price">
        <p class="pricing-plan__number display-1"><span class="heading-3">&#36;</span>29</p>
      </div>
      <p class="pricing-plan__month heading-3">/month</p>
      <hr class="pricing-plan__line" />
      <ul class="pricing-plan__list">
        <li class="pricing-plan__desc paragraph">General living space advices</li>
        <li class="pricing-plan__desc paragraph">Rennovation advices</li>
        <li class="pricing-plan__desc paragraph">Interior design advices</li>
        <li class="pricing-plan__desc paragraph">Furniture reorganization</li>
        <li class="pricing-plan__desc paragraph">Up to 5 hours meetings</li>
      </ul>
      <a href="#" class="pricing-plan__button orange-button">Get Started <img src="/img/svgo/arrow-black.svg" alt="arrow"></a>
    </div>

    <div class="pricing-plan__card">
      <h2 class="pricing-plan__title heading-3">Complete interior</h2>
      <div class="pricing-plan__price">
        <p class="pricing-plan__orange-number display-1"><span class="heading-3">&#36;</span>39</p>
      </div>
      <p class="pricing-plan__month heading-3">/month</p>
      <div class="pricing-plan__most">
        <p class="pricing-plan__popular link">Most Popular Plans</p>
        <hr class="pricing-plan__black-line" />
      </div>
      <ul class="pricing-plan__list">
        <li class="pricing-plan__desc paragraph">Complete home redesign</li>
        <li class="pricing-plan__desc paragraph">Interior and exterior works</li>
        <li class="pricing-plan__desc paragraph">Interior design advices</li>
        <li class="pricing-plan__desc paragraph">Kitchen design</li>
        <li class="pricing-plan__desc paragraph">Garages organization</li>
      </ul>
      <a href="#" class="pricing-plan__button black-button" >Get Started<img src="img/svgo/arrow.svg" alt="arrow"></a>
    </div>

    <div class="pricing-plan__card">
      <h2 class="pricing-plan__title heading-3">Furniture design</h2>
      <div class="pricing-plan__price">
        <p class="pricing-plan__number display-1"><span class="heading-3">&#36;</span>59</p>
      </div>
      <p class="pricing-plan__month heading-3">/month</p>
      <hr class="pricing-plan__line" />
      <ul class="pricing-plan__list">
        <li class="pricing-plan__desc paragraph">Furniture for living room</li>
        <li class="pricing-plan__desc paragraph">Furniture refurbishment</li>
        <li class="pricing-plan__desc paragraph">Sofas and amchairs</li>
        <li class="pricing-plan__desc paragraph">Tables and chairs</li>
        <li class="pricing-plan__desc paragraph">Kitchens</li>
      </ul>
      <a href="#" class="pricing-plan__button orange-button">Get Started <img src="/img/svgo/arrow-black.svg" alt="arrow"></a>
    </div>
  </div>
</section>













