<section class="pricing-plan">
  <div class="pricing-plan__container container">
    <div class="pricing-plan__card">
      <h2 class="pricing-plan__title heading-3">Design advices</h2>
      <div class="pricing-plan__price">
        <p class="pricing-plan__number display-1"><span class="heading-3">&#36;</span>29</p>
      </div>
      <p class="pricing-plan__month heading-3">/month</p>
      <hr class="pricing-plan__line" />
      <ul class="pricing-plan__list">
        <li class="pricing-plan__desc paragraph">General living space advices</li>
        <li class="pricing-plan__desc paragraph">Rennovation advices</li>
        <li class="pricing-plan__desc paragraph">Interior design advices</li>
        <li class="pricing-plan__desc paragraph">Furniture reorganization</li>
        <li class="pricing-plan__desc paragraph">Up to 5 hours meetings</li>
      </ul>
      <a href="#" class="pricing-plan__button orange-button">Get Started <img src="/img/svgo/arrow-black.svg" alt="arrow"></a>
    </div>
  </div>
</section>


