<section class="pricing-plan">
  <div class="pricing-plan__container container">
    {% import "data/pricing-plan.html" as items %}
    {% for item in items.block %}
      <div class="pricing-plan__card">
        <h2 class="pricing-plan__title heading-3">{{item.title}}</h2>
        <div class="pricing-plan__price">
          <p class="pricing-plan__number {{'pricing-plan__orange-number' if item.isMostPopular}} display-1"><span class="heading-3">&#36;</span>{{item.priсe}}</p>
        </div>
        <p class="pricing-plan__month heading-3">/month</p>
          {% if item.isMostPopular %}
            <div class="pricing-plan__most">
              <p class="pricing-plan__popular link">Most Popular Plans</p>
              <hr class="pricing-plan__black-line" />
            </div>
          {% else %}
            <hr class="pricing-plan__line" />
          {% endif %}
        <ul class="pricing-plan__list">
          {% for i in item.list %}
            <li class="pricing-plan__desc paragraph">{{i}}</li>
          {% endfor %}
        </ul>
        <a href="#" class="pricing-plan__button {{'black-button' if item.isMostPopular else 'orange-button'}}">
          Get Started 
          {% if item.isMostPopular %}
            <img src="img/svgo/arrow.svg" alt="arrow">
          {% else %}
            <img src="/img/svgo/arrow-black.svg" alt="arrow">
          {% endif %}  
        </a>
      </div>
    {% endfor %}
  </div>
</section>













