<section class="answered">
  <div class="answered__container container">
    <h2 class="answered__title heading-1">Every Question Answered</h2>
    <div class="answered__wrapper">
        <div class="answered__accordion accordion-container">
          {% import "data/answered.html" as items %}
          {% for item in items.block %}
            <div class="answered__block ac">
              <h2 class="answered__header ac-header">
                <button type="button" class="answered__trigger ac-trigger">{{item.title}}</button>
              </h2>
              <div class="answered__panel ac-panel">
                <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
              </div>
            </div>
          {% endfor %}
        </div>
      <img class="answered__img" src="/img/faqs/answered/answered-img-1.jpg" alt="answered">
    </div>
  </div>
</section>