<section class="answered">
  <div class="answered__container container">
    <h2 class="answered__title heading-1">Every Question Answered</h2>
    <div class="answered__wrapper">
        <div class="answered__accordion accordion-container">
          <div class="answered__block ac">
            <h2 class="answered__header ac-header">
              <button type="button" class="answered__trigger ac-trigger">What is the Hipcouch Interior Design Service?</button>
            </h2>
            <div class="answered__panel ac-panel">
              <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
            </div>
          </div>
        
          <div class="answered__block ac">
            <h2 class="answered__header ac-header">
              <button type="button" class="answered__trigger ac-trigger">So, how exactly does this work?</button>
            </h2>
            <div class="answered__panel ac-panel">
              <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
            </div>
          </div>
        
          <div class="answered__block ac">
            <h2 class="answered__header ac-header">
              <button type="button" class="answered__trigger ac-trigger">What cities do you currently operate in?</button>
            </h2>
            <div class="answered__panel ac-panel">
              <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
            </div>
          </div>

          <div class="answered__block ac">
            <h2 class="answered__header ac-header">
              <button type="button" class="answered__trigger ac-trigger">Hipcouch Interior Design Service?</button>
            </h2>
            <div class="answered__panel ac-panel">
              <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
            </div>
          </div>

          <div class="answered__block ac">
            <h2 class="answered__header ac-header">
              <button type="button" class="answered__trigger ac-trigger">What kind of interior designers do you have?</button>
            </h2>
            <div class="answered__panel ac-panel">
              <p class="answered__text ac-text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief.There are many variations of passages of Lorem Ipsum available, but the majority randomised.</p>
            </div>
          </div>
        </div>
      <img class="answered__img" src="/img/faqs/answered/answered-img-1.jpg" alt="answered">
    </div>
  </div>
</section>