<section class="we-work">
  <div class="we-work__container container">
    <h2 class="we-work__title heading-1">How We Work</h2>
    <p class="we-work__desc paragraph">It is a long established fact  will be distracted.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="we-work__wrapper">
      {% import "data/concept.html" as items %}
      {% for item in items.block %}
        <div class="concept">
          <img class="concept__img {{item.class}}" src="{{item.src}}" alt="{{item.alt}}">
          <div class="concept__details">
            <div class="concept__icons">
              <img class="concept__icon" src="{{item.icon}}" alt="icon">
              <p class="concept__number">{{item.number}}</p>
            </div>
            <h3 class="concept__title heading-2">{{item.title}}</h3>
            <p class="concept__desc paragraph">It is a long established fact  will be distracted. Lorem Ipsum is simply dummy from text of the and typesetting indufstry.</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>