<section class="work">
  <div class="work__container container">
    {% import "data/work.html" as items %}
    {% for item in items.section %}
      <div class="work__text">
        <h2 class="work__title heading-3">{{item.title}}</h2>
        <p class="work__desc paragraph">There are many variations of the passages of lorem Ipsum from available, majority.</p>
        <a href="" class="realization__link link">Read More <img src="img/svgo/arrow.svg" alt="arrow"></a>
      </div>
    {% endfor %}  
  </div>
</section>